@import url('http://fonts.cdnfonts.com/css/hammer-scout');
@import url('http://fonts.cdnfonts.com/css/delayed');
@import url('http://fonts.cdnfonts.com/css/vtc-sunday-komix');

html, body {
  background-image: url('./comic.webp');
}

.header {
  text-align: center;
  color: #4040a1;
  font-family: 'Hammer Scout', sans-serif;
  height:60px;
  margin-bottom: 30px;
  background: linear-gradient(to bottom, #ffff66 0%, #bf5b18 100%);
}

.footer {
  text-align: center;
  color: #4040a1;
  font-family: 'Hammer Scout', sans-serif;
  position: absolute;
  
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background: linear-gradient(to top, #ffff66 0%, #bf5b18 100%);
}

button {
  background-color: #66fab7;
  border-style: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: 200px; */
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 560px;
  justify-items: center;
  max-height: 50vh;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 5px;
}

.letsGo {
  background-color: #66fab7;
  margin: 0 10% 5px 10%;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
  font-family: 'DELAYED', sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.letsGo:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

/* .player {

} */

.winner {
  background-color: #66fab7;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  font-family: 'DELAYED', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.winner:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


.results {
  align-items: center;

}

.player {
  background-color: #837aff;
  padding: 20px;
  border-radius: 20px;
  height: 560px;
  
}

.hero-name {
  font-family: 'VTCSundaykomixcaps', sans-serif;
  height:75px;
  display: flex;
  align-items: center;
  justify-items: center;
  font-weight: bold;
}

.hero-image {
  padding-bottom: 10px;
}

.stats-title {
  font-family: 'VTCSundaykomixcaps', sans-serif;
  font-weight: bold;
}

.stats {
  font-family: 'VTCSundaykomix', sans-serif;
  font-weight: bold;
  list-style: none
}

.name {
  font-size: 2rem;
}

